/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/Assets/AssetStoreTools*
/[Pp]ackages/
/.vscode/
/.idea/
/.vs/
/ExportedObj/
/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
/Install/
.DS_Store
Thumbs.db
